.weather-details {

    display: flex;
    flex-direction: column;
    gap: 15px;

    & .main-weather-details {
        display: flex;
        gap: 15px;
    }
}

.weather-details-wrapper {

    display: flex;
    gap: 1rem;
    width: 100%;

    & .weather-details-particle {
        margin: 5px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
}

.weather-next-hour-forecast {
    display: flex;
    border: 1px solid var(--color4);
    background-color: var(--color0);
}