.search-options-btn {
    background-color: transparent;
    border: none;
    color: var(--color4);
    transition: opacity 200ms;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-options-btn:hover {
    cursor: pointer;
    opacity: .75;
}